#FormularioOpciones{
    position: fixed;
    background: #D1BD9B;
    height:740px;
    width: 380px;
    left:0;
    top: 230px;
    overflow-y: auto;
   
    transition: top 0.5s ease-out;
}
#FormularioOpciones:hover {
   
    top: calc(6% - 90px); /* Ajusta según sea necesario */
}


#BotonACTUACIÓN button{
    position: absolute;
    font-size:30px ;
    font-family: Arturo;
    color: white;
    background-color: #B24FB4;
    width: 258px; ;
    height:110px ;
    left:92px ;
    top:640px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    
}

.imgOpcionACTUACIÓN{
    position:absolute;
    width:115px ;
    left:8px ;
    top: 637px;
}
#BotonACTUACIÓN :hover{
    background-color: #48015f;
}



#FormularioOpciones::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

#FormularioOpciones::-webkit-scrollbar-thumb {
    background-color: #454545; /* Color de la barra de desplazamiento */
    border-radius: 5px; /* Bordes redondeados de la barra de desplazamiento */
}

#FormularioOpciones::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
}

.Espacio{
    position: relative;
    height: 10px;
    background-color: #5c5c5c;
    margin-top: 130px;
    bottom: -100%;
}

/* TITULO */
#FormularioTitulo{
    position: absolute;
    background:#F8C8DE;
    height: 230px;
    width: 970px;
    left:380px ;
    top: 0px;
    
}
.imgACTUACIÓN{
    position: absolute;
    width: 200px;
    left:120px;
    top: 10px;

}
.ACTUACIÓN{
    position: relative;
    color: white;
    background-color: #B24FB4;
    width: 600px;
    height: 190px;
    font-size: 75px;
    font-family: Arturo;
    left: 260px;
    top: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45px;

}





#FormularioTexto{
    position:absolute;
    background:#ffd9e8;
    height: 3800px;
    width: 970px;
    left: 380px;
    top: 230px;
    
}

.TextoACTUACIÓN{
    position: absolute;
    font-size: 35px;
    font-family: Arturo;
    color: black;
    width: 750px;
    left: 110px;
    top: 20px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
}

.TextoACTUACIÓN0{
    position: absolute;
    font-size: 35px;
    font-family: Arturo;
    color: black;
    width: 750px;
    left: 110px;
    top: 250px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
}


.TextoACTUACIÓN1{
    position: absolute;
    font-size: 33px;
    font-family: Arturo;
    color: black;
    top: 750px;
    width: 450px;
    left: 60px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.TextoACTUACIÓN1 .Subtitulo1 {
    color: #620982; /* Cambia a tu color deseado */
    font-weight: bold; /* Puedes agregar otras propiedades aquí */
}
.imgACTUACIÓN1{
    position: absolute;
    width: 400px;
    top: 750px;
    left: 520px;
}


.TextoACTUACIÓN2{
    position: absolute;
    font-size: 32px;
    font-family: Arturo;
    color: black;
    top: 1190px;
    width: 480px;
    left: 460px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.TextoACTUACIÓN2 .Subtitulo2 {
    color: #620982; /* Cambia a tu color deseado */
    font-weight: bold; /* Puedes agregar otras propiedades aquí */
}
.imgACTUACIÓN2{
    position: absolute;
    width: 390px;
    top: 1220px;
    left: 50px;
}


.TextoACTUACIÓN3{
    position: absolute;
    font-size: 33px;
    font-family: Arturo;
    color: black;
    top: 1710px;
    width: 450px;
    left: 60px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.TextoACTUACIÓN3 .Subtitulo3 {
    color: #620982; /* Cambia a tu color deseado */
    font-weight: bold; /* Puedes agregar otras propiedades aquí */
}
.imgACTUACIÓN3{
    position: absolute;
    width: 400px;
    top: 1760px;
    left: 520px;
}


.TextoACTUACIÓN4{
    position: absolute;
    font-size: 33px;
    font-family: Arturo;
    color: black;
    top: 2240px;
    width: 460px;
    left: 460px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.TextoACTUACIÓN4 .Subtitulo4 {
    color:#620982; /* Cambia a tu color deseado */
    font-weight: bold; /* Puedes agregar otras propiedades aquí */
}
.imgACTUACIÓN4{
    position: absolute;
    width: 390px;
    top: 2280px;
    left: 50px;
}

.TextoACTUACIÓNFinal{
    position: absolute;
    font-size: 30px;
    font-family: Arturo;
    color: black;
    width: 900px;
    left: 30px;
    top: 2760px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;

}

.CampoVacio1{
    position: absolute;
    position: absolute;
    width: 930px;
    height:630px;
    bottom:  230px;
    left: 18px;
    background-color: #9B5026;
    border-radius: 20px;
   
    font-size: 30px;
    font-family: Arturo;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
    
}
iframe{
    position: absolute;
    width: 890px;
    height:501px;
    left: 37px;
    bottom: 290px;
    background-color: #9B5026;
    border-radius: 20px;
}

#BotonSiguiente button{
    position: absolute;
    bottom: 130px;
    left:650px ;
    
}


#Footer{
    position: absolute;
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto en el pie de página */
    text-align: center; /* Alineación del texto en el centro */
    padding:1px; /* Espaciado interno */
    
   top: 4040px;
    width: 1350px;
    height: 70px;
    margin-left: -10px;
    
}

.img-Logo-Footer{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 660px;
    top: 5px;
    
}

.FooterLogoNegro{
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-family: 'Abril Fatface', serif;
    top:11px ;
    left: 1px;
}
.FooterLogoRojo{
    position: relative;
    color: red;
    font-size: 10px;
    font-family: 'Abril Fatface', serif;
    top:11px ;
    left: -1px;

}


