



#BotonRIESGOS button{
    position: absolute;
    font-size:30px ;
    font-family: Arturo;
    color: white;
    background-color: #F87F1C;
    width: 260px; ;
    height:110px ;
    left:90px ;
    top:360px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    cursor: pointer;
    
}

.imgOpcionRIESGOS{
    position:absolute;
    width:120px ;
    left:15px ;
    top: 355px;
}
#BotonRIESGOS :hover{
    background-color: #a93c02;
}


#FormularioOpciones::-webkit-scrollbar {
    width: 10px; /* Ancho de la barra de desplazamiento */
}

#FormularioOpciones::-webkit-scrollbar-thumb {
    background-color: #4CAF50; /* Color de la barra de desplazamiento */
    border-radius: 5px; /* Bordes redondeados de la barra de desplazamiento */
}

#FormularioOpciones::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color del fondo de la barra de desplazamiento */
}

/* TITULO */
#FormularioTitulo{
    position: absolute;
    background:#F1CB8A;
    height: 230px;
    width: 970px;
    left:380px ;
    top: 0px;
    
}
.imgRIESGOS {
    position: absolute;
    width: 200px;
    left:200px;
    top: 10px;

}
.RIESGOS{
    position: relative;
    color: white;
    background-color: #F87F1C;
    width: 500px;
    height: 190px;
    font-size: 80px;
    font-family: Arturo;
    left: 300px;
    top: -60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
   


}



#FormularioTexto{
    position:absolute;
    background:#fffab4;
    height: 4020px;
    width: 970px;
    left: 380px;
    top: 230px;
    
}

.TextoRIESGOS{
    position: absolute;
    font-size: 35px;
    font-family: Arturo;
    color: black;
    width: 700px;
    left: 135px;
    top: 20px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;

}


.TextoRIESGOS1{
    position: absolute;
    font-size: 33px;
    font-family: Arturo;
    color: black;
    top: 380px;
    width: 500px;
    left: 60px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.TextoRIESGOS1 .Subtitulo1{
    color: #B63803; /* Cambia a tu color deseado */
    font-weight: bold; /* Puedes agregar otras propiedades aquí */
}
.imgRIESGOS1{
    position: absolute;
    width: 550px;
    top: 380px;
    left: 450px;
}


.TextoRIESGOS2{
    position: absolute;
    font-size: 33px;
    font-family: Arturo;
    color: black;
    top: 780px;
    width: 480px;
    left: 450px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.TextoRIESGOS2 .Subtitulo2 {
    color: #B63803; /* Cambia a tu color deseado */
    font-weight: bold; /* Puedes agregar otras propiedades aquí */
}
.imgRIESGOS2{
    position: absolute;
    width: 550px;
    top: 770px;
    left: -35px;
}


.TextoRIESGOS3{
    position: absolute;
    font-size: 33px;
    font-family: Arturo;
    color: black;
    top: 1180px;
    width: 450px;
    left: 60px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.TextoRIESGOS3 .Subtitulo3 {
    color: #B63803; /* Cambia a tu color deseado */
    font-weight: bold; /* Puedes agregar otras propiedades aquí */
}
.imgRIESGOS3{
    position: absolute;
    width: 550px;
    top: 1180px;
    left: 440px;
}


.TextoRIESGOS4{
    position: absolute;
    font-size: 33px;
    font-family: Arturo;
    color: black;
    top: 1600px;
    width: 480px;
    left: 460px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.TextoRIESGOS4 .Subtitulo4 {
    color: #B63803; /* Cambia a tu color deseado */
    font-weight: bold; /* Puedes agregar otras propiedades aquí */
}
.imgRIESGOS4{
    position: absolute;
    width: 380px;
    top: 1580px;
    left: 55px;
}


.TextoRIESGOS5{
    position: absolute;
    font-size: 33px;
    font-family: Arturo;
    color: black;
    top: 2020px;
    width: 450px;
    left: 60px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.TextoRIESGOS5 .Subtitulo5 {
    color: #B63803; /* Cambia a tu color deseado */
    font-weight: bold; /* Puedes agregar otras propiedades aquí */
}
.imgRIESGOS5{
    position: absolute;
    width: 400px;
    top: 1985px;
    left: 500px;
}


.TextoRIESGOS6{
    position: absolute;
    font-size: 33px;
    font-family: Arturo;
    color: black;
    top: 2460px;
    width: 460px;
    left: 460px;
    line-height: 1.5;
    letter-spacing: 2px;
}
.TextoRIESGOS6 .Subtitulo6 {
    color: #B63803; /* Cambia a tu color deseado */
    font-weight: bold; /* Puedes agregar otras propiedades aquí */
}
.imgRIESGOS6{
    position: absolute;
    width: 380px;
    top: 2440px;
    left: 55px;
}

.TextoRIESGOSFinal{
    position: absolute;
    font-size: 30px;
    font-family: Arturo;
    color: black;
    width: 900px;
    left: 30px;
    top: 2900px;
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;

}



    .CampoVacio1{
    position: absolute;
    position: absolute;
    width: 930px;
    height:600px;
    bottom:  230px;
    left: 18px;
    background-color: #9B5026;
    border-radius: 20px;
   
    font-size: 35px;
    font-family: Arturo;
    color: rgb(255, 255, 255);
    text-align: center;
    line-height: 1.5;
    letter-spacing: 2px;
    
}
iframe{
    position: absolute;
    width: 890px;
    height:501px;
    left: 37px;
    bottom: 290px;
    background-color: #9B5026;
    border-radius: 20px;
}

#BotonSiguiente button{
    position: absolute;
    bottom: 130px;
    left:650px ;
    
}
#BotonAnterior button{
    position: absolute;
    font-size:30px ;
    font-family: Arturo;
    color: white;
    background-color: #FA5300;
    width: 230px; ;
    height:70px ;
    bottom: 130px;
    left:80px ;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    cursor: pointer;
}
#BotonAnterior :hover{
    background-color: #a82400;
}

.FlechaSiguiente{
    position: absolute;
    bottom: 60px;
    width: 80px;
    height: 60px;
    left: 750px;

}
.FlechaAnterior{
    position: absolute;
    bottom: 60px;
    width: 80px;
    height: 60px;
    left: 130px;

}



#Footer{
    position: absolute;
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto en el pie de página */
    text-align: center; /* Alineación del texto en el centro */
    padding:1px; /* Espaciado interno */
    
   top: 4250px;
    width: 1350px;
    height: 70px;
    margin-left: -10px;
    
}

.img-Logo-Footer{
    position: absolute;
    height: 30px;
    width: 30px;
    left: 660px;
    top: 5px;
    
}

.FooterLogoNegro{
    position: relative;
    color: rgb(0, 0, 0);
    font-size: 10px;
    font-family: 'Abril Fatface', serif;
    top:11px ;
    left: 1px;
}
.FooterLogoRojo{
    position: relative;
    color: red;
    font-size: 10px;
    font-family: 'Abril Fatface', serif;
    top:11px ;
    left: -1px;

}

